* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body {
  background-image: url(beach.jpg);
}

input {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    margin: 0 20px 0 0;
}

h1, h2, label {
  text-align: center;
}

h1 {
  font-size: x-large;
  color: rgba(255, 255, 255, 90%)
}

h2 {
  font-size: large;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "side1-container center-container side2-container"
}

.side1-container {
  grid-area: side1-container;
}

.side2-container {
  grid-area: side2-container;
}

#center-container {
  grid-area: center-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-container {
  width: 360px;
}

#grade-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 360px;
  padding: 10px;
}

#grade-input-container, button {
  background: #db7651;
}

label {
  padding: 0 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "center-container";
  }
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: large;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
input[type=number] {
  -moz-appearance: textfield;
  width: 60px;
  text-align: center;
}
